
<div class="container">
    <button onclick="testBubbleSort()">Bubble Sort</button>
</div>


<div class="container-fluid" style="height: 10em;">
    <div class="row" style="height: 100%" id="barHolder">

    </div>
</div>




@* Javascript Scripts *@
<script src="~/js/sorting.js"></script>