
<div class="container">
    <button class="btn btn-primary" onclick="readyGame()" id="playButton">Play Game</button>
    <p id="currentMoveLabel"></p>
    <div class="row" style="float: none; margin: auto; width: 200px;">
        <div class="col-md-4 boardOutline boardSpace" id="0" onclick="markBoardPlace(this)">

        </div>
        <div class="col-md-4 boardOutline boardSpace" id="1" onclick="markBoardPlace(this)">
            
        </div>
        <div class="col-md-4 boardOutline boardSpace" id="2" onclick="markBoardPlace(this)">
            
        </div>
    </div>
    <div class="row" style="float: none; margin: auto; width: 200px;">
        <div class="col-md-4 boardOutline boardSpace" id="3" onclick="markBoardPlace(this)">

        </div>
        <div class="col-md-4 boardOutline boardSpace" id="4" onclick="markBoardPlace(this)">
            
        </div>
        <div class="col-md-4 boardOutline boardSpace" id="5" onclick="markBoardPlace(this)">
            
        </div>
    </div>
    <div class="row" style="float: none; margin: auto; width: 200px;">
        <div class="col-md-4 boardOutline boardSpace" id="6" onclick="markBoardPlace(this)">

        </div>
        <div class="col-md-4 boardOutline boardSpace" id="7" onclick="markBoardPlace(this)">
            
        </div>
        <div class="col-md-4 boardOutline boardSpace" id="8" onclick="markBoardPlace(this)">
            
        </div>
    </div>
    
</div>


@* Javascript Scripts *@
<script src="~/js/ticTacGame.js"></script>


